footer {
  padding: 25px 0;
  text-align: center;
  background-color: rgba(88, 155, 105, 0.5);

  p {
    font-size: 1.8rem;
  }

  a {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }
}
