body {
    font-family: $body;
    overflow-x: hidden;
}

.fillScreen {
    min-height: 100vh;
}

.landingPageHome{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1000px) {
    .landingPageHome {
        flex-direction: column;
    }
}


@media (max-width: 600px) {
    h1 {
        font-size: 100px;
        padding: 20px;
    }
    
    .homeButton{
        height:25rem;
        width:25rem;
    }
}