.gifAndForm,
.selectedGif{
    display: flex;
    justify-content: center;
}

label,
.createMemeForm .submit,
.memeText{
    font-size: 2.5rem;
}

label,
.memeText{
    color: $black;
}

.closeMemeButton,
.createMemeForm .submit{
    color: $white;
}

.buttonContainer,
.closeMemeButton{
    text-align: right;
}

.gifs,
.closeMemeButton{
    cursor: pointer;
}

.wrapperCreateMemePage,
.buttonContainer{
    width: 100%;
}

.postCreationMeme {
    a {
        align-self:center
    }
    flex-direction: column;
    .glow-on-hover {
        font-size:20px;
        padding: 10px;
    }
}
#createMemeSection {
    display:none;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.createMemeSection { 
    width: 100%;
    height: 100%;
    background-color:rgba(1,1,1,0.9);
    position: fixed;
    display: flex;
    margin: 0;
    z-index: 999;
    .closeMemeButton {
        background-color: rgba(1,1,1,0);
        border: none;
        font-size: 20px;
    }
    .selectedGif {
        width: 400px;
        flex-direction: column;
        align-items: center;
        img {
            margin-top: 4px;
        }
    }
    .gifAndForm{
        background-color: rgba(226,226,226,1);
        padding: 2.5rem 5rem;
        border: 5px solid $secondary;
        border-radius: 5px;
        flex-wrap: wrap;
        .createMemeForm {
            margin-left: 3rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            input[type=text] {
                width: 300px;
                padding: 10px;
                font-size: 20px;
            }
        }
    }
}


.hiddenDate{
    display: none;
}

label{
    display: block;
    text-align: left;
    margin-bottom: 0.3rem;
}

.submit{
    padding: 0.8rem 0;
    background-color: $black;
}

.memeText{
    height: 2.5rem;
}

.userInput{
    margin-bottom: 2rem;
}

.normalPointer,
.noPointer {
    cursor: default;
}

.wrapperCreateMemePage{
    max-width: 850px; 
    margin: 0 auto;
}


::placeholder{
    font-size:1.5rem;
}