.gifAndForm,
.selectedGif{
    display: flex;
    justify-content: center;
}

label,
.createMemeForm .submit,
.memeText{
    font-size: 2.5rem;
}

label,
.memeText{
    color: $black;
}

.closeMemeButton,
.createMemeForm .submit{
    color: $white;
}

.buttonContainer,
.closeMemeButton{
    text-align: right;
}

.gifs,
.closeMemeButton{
    cursor: pointer;
}

.wrapperCreateMemePage,
.buttonContainer{
    width: 100%;
}

.gifAndForm{
    background-color: rgba(226,226,226,1);
    padding: 2.5rem 5rem;
    border: 5px solid $secondary;
    border-radius: 5px;
    flex-wrap: wrap;
}

.selectedGif{
    flex-direction: column;
    align-items: center;
}

.selectedGif img{
    margin-top: 4px;
}

.hiddenDate{
    display: none;
}

.createMemeForm{
    margin-left: 3rem;
}

label{
    display: block;
    text-align: left;
    margin-bottom: 0.3rem;
}

.createMemeForm .submit{
    padding: 0.8rem 0;
    background-color: $black;
}

.memeText{
    height: 2.5rem;
}

.userInput{
    margin-bottom: 2rem;
}

.normalPointer,
.noPointer {
    cursor: default;
}

.wrapperCreateMemePage{
    max-width: 850px; 
    margin: 0 auto;
}

.closeMemeButton {
    background-color: rgba(1,1,1,0);
    border: none;
}

::placeholder{
    font-size:1.5rem;
}