.gifAndForm{
    background-color:rgba(226,226,226,1);
    padding:5rem;
    border:5px solid $secondary;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selectedGif{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    
}

.hiddenDate{
    display:none;
}

.createMemeForm{
    margin-left:3rem;
}

label{
    color: $black;
    display:block;
    text-align:left;
    margin-bottom:0.4rem;
}

.userInput{
    margin-bottom:2rem;
}

.createMemeForm .submit{
    padding:1.5rem 0;
    background-color:$black;
    color:$white;
}

.normalPointer {
    cursor: auto;
}

.gifs {
    cursor: pointer;
}

.memeText {
    color: black;
    font-size: 25px;
}

.buttonContainer {
    width: 100%;
    text-align: right;
}

.wrapperCreateMemePage{
    max-width:850px; 
    width:100%; 
    margin:0 auto;
}

.closeMemeButton {
    background-color: rgba(1,1,1,0);
    color: $white;
    border: none;
    cursor: pointer;
    text-align:right;

}